.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1141px;
  padding: 20px 0;
  margin: 70px auto 20px;
  font-family: 'DM Sans', sans-serif;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.63px;
}

.footer a {
  color: rgb(64, 0, 255);
  text-decoration: underline;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #FF0000;
}

@media (max-width: 991px) {
  .footer {
      flex-direction: column;
      gap: 20px;
      text-align: center;
      padding: 20px;
  }
}
 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    
    }    
    header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 20px;
      padding-bottom: 5px;
      background-color:#f3f3f3; /* Transparent background */
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1000; /* Ensures the navbar stays on top */
      backdrop-filter: blur(0px); /* Optional blur effect */
    }
    
    .logo {
      margin-right: auto;
    }
    
    .nav__links {
      list-style: none;
      display: flex;
    }
    
    .nav__links a,
    .cta,
    .overlay__content a {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      color: #ffffff;
      text-decoration: none;
    }
    .nav__links a {
      color:#181717
    }
    
    .nav__links li {
      padding: 0px 20px;
    }
    
    .nav__links li a {
      transition: all 0.3s ease 0s;
    }
    
    .nav__links li a:hover {
      color: #0088a9;
    }
    
    .cta {
      margin-left: 20px;
      padding: 9px 25px;
      background-color: rgb(0, 0, 0);
      color: #ffffff;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      transition: all 0.3s ease 0s;
    }
    
    .cta:hover {
      background-color: rgb(64, 0, 255);
    }
    
    /* Mobile Nav */
    
    .menu {
      display: none;
    }
    
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      background-color: rgb(64, 0, 255);
      overflow-x: hidden;
      transition: all 0.5s ease 0s;
    }
    
    .overlay--active {
      width: 100%;
    }
    
    .overlay__content {
      display: flex;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .overlay a {
      padding: 15px;
      font-size: 36px;
      display: block;
      transition: all 0.3s ease 0s;
    }
    
    .overlay a:hover,
    .overlay a:focus {
      color:hsl(202, 75%, 80%)
    }

    
    @media screen and (max-height: 450px) {
      .overlay a {
        font-size: 20px;
      }
      .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
      }
    }
    
    @media only screen and (max-width: 800px) {
      .nav__links,
      .cta {
        display: none;
      }
      .menu {
        display: initial;
      }
    }
    
    .div {
      align-items: center;
      background-color: #f3f3f3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 47px 60px;
    }
    @media (max-width: 991px) {
      .div {
        padding: 0 20px;
      }
    }
    .div-2 {
      display: flex;
      width: 100%;
      max-width: 1141px;
      flex-direction: column;
      align-items: start;
    }
    @media (max-width: 991px) {
      .div-2 {
        max-width: 100%;
      }
    }
    .img {
      aspect-ratio: 2.31;
      object-fit: contain;
      object-position: center;
      width: 81px;
      fill: var(--Main-Black, #181717);
      overflow: hidden;
      /* margin-left: 15px; */
      max-width: 100%;
      position: relative;
      top: 20px;
    }
    /*@media (max-width: 991px) {
      .img {
        margin-left: 10px;
      }
    } */ 
    
    .div-3 {
      align-items: flex-start;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      /* padding: 16px 1px 50px 20px; */
    }
    @media (max-width: 991px) {
      .div-3 {
        max-width: 100%;
      }
    }
    .div-4 {
      align-self: stretch;
      margin-right: 19px;
    }
    @media (max-width: 991px) {
      .div-4 {
        max-width: 100%;
        margin-right: 10px;
      }
    }
    .div-5 {
      gap: 20px;
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      justify-content: space-between;

    }
    @media (max-width: 991px) {
      .div-5 {
        flex-direction: column;
        align-items: flex-end;
        gap: 0px;
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      line-height: normal;
      margin-left: 0px;
      justify-content: center;
    }
    @media (max-width: 991px) {
      .column {
        width: 100%;
      }
    }
    .div-6 {
      color: var(--Main-Black, #181717);
      letter-spacing: -1.8px;
      font: 500 60px/58px DM Sans, sans-serif;
    }
    @media (max-width: 991px) {
      .div-6 {
        margin-top: 40px;
        font-size: 40px;
        line-height: 43px;
      }
    }
    .column-2 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 60%;
      margin-left: 145px;
    }
    @media (max-width: 991px) {
      .column-2 {
        width: 100%;
      }
    }
    .div-7 {
      color: #606060;
      letter-spacing: -0.96px;
      margin-top: 39px;
      font: 400 32px/37px DM Sans, sans-serif;
    }
    @media (max-width: 991px) {
      .div-7 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .img-2 {
      aspect-ratio: 0.92;
      object-fit: contain;
      object-position: center;
      width: 35px;
      fill: var(--Main-Black, #181717);
      overflow: hidden;
      align-self: start;
      margin-top: 79px;
      max-width: 100%;
    }
    @media (max-width: 991px) {
      .img-2 {
        margin-top: 40px;
      }
    }
    .div-8 {
      align-self: stretch;
      margin-top: 50px;
    }
    @media (max-width: 991px) {
      .div-8 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-9 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-9 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0px;
      }
    }
    .column-3 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 37%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column-3 {
        width: 100%;
      }
    }
    .div-10 {
      display: flex;
      margin-top: 5px;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-10 {
        margin-top: 40px;
      }
    }
    .div-11 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.54px;
      white-space: nowrap;
      font: 500 18px/121.5% Inter, sans-serif;
      font-weight: bold;
    }
    @media (max-width: 991px) {
      .div-11 {
        white-space: initial;
      }
    }
    .div-12 {
      color: var(--Main-Gray, #606060);
      letter-spacing: -0.42px;
      font: 400 14px/121.5% Inter, sans-serif;
    }
    .div-13 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.54px;
      margin-top: 13px;
      font: 400 18px/22px Inter, sans-serif;
    }
    .div-14 {
      color: var(--Main-Gray, #606060);
      letter-spacing: -0.42px;
      margin-top: 39px;
      font: 400 14px/17px Inter, sans-serif;
    }
    .div-15 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.54px;
      text-decoration-line: underline;
      margin-top: 153px;
      white-space: nowrap;
      font: 500 18px/121.5% Inter, sans-serif;
      a {
        color: rgb(0, 0, 0);
      }
    }
    @media (max-width: 991px) {
      .div-15 {
        margin-top: 40px;
        white-space: initial;
      }
    }
    .column-4 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 63%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-4 {
        width: 100%;
      }
    }
    .img-3 {
      aspect-ratio: 1.75;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .img-3 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-16 {
      background-color: #181717;
      align-self: stretch;
      margin-top: 106px;
      height: 2px;
    }
    @media (max-width: 991px) {
      .div-16 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-17 {
      align-self: stretch;
      margin-top: 50px;
    }
    @media (max-width: 991px) {
      .div-17 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-18 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-18 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0px;
      }
    }
    .column-5 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 37%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column-5 {
        width: 100%;
      }
    }
    .div-19 {
      display: flex;
      margin-top: 5px;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-19 {
        margin-top: 40px;
      }
    }
    .div-20 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.54px;
      white-space: nowrap;
      font: 500 18px/121.5% Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-20 {
        white-space: initial;
      }
    }
    .div-21 {
      color: var(--Main-Gray, #606060);
      letter-spacing: -0.42px;
      font: 400 14px/121.5% Inter, sans-serif;
    }
    .div-22 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.54px;
      margin-top: 13px;
      font: 400 18px/22px Inter, sans-serif;
    }
    .div-23 {
      color: var(--Main-Gray, #606060);
      letter-spacing: -0.42px;
      margin-top: 39px;
      font: 400 14px/17px Inter, sans-serif;
    }
    .div-24 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.54px;
      text-decoration-line: underline;
      margin-top: 153px;
      white-space: nowrap;
      font: 500 18px/121.5% Inter, sans-serif;
      a {
        color: rgb(0, 0, 0);
      }
    }
    @media (max-width: 991px) {
      .div-24 {
        margin-top: 40px;
        white-space: initial;
      }
    }
    .column-6 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 63%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-6 {
        width: 100%;
      }
    }
    .img-4 {
      aspect-ratio: 1.75;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex-grow: 1;
    }
    @media (max-width: 991px) {
      .img-4 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-25 {
      background-color: #181717;
      align-self: stretch;
      margin-top: 106px;
      height: 2px;
    }
    @media (max-width: 991px) {
      .div-25 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-26 {
      align-self: stretch;
      padding-bottom: 0px;
      margin: 50px 0 96px;
    }
    @media (max-width: 991px) {
      .div-26 {
        max-width: 100%;
        margin: 40px 0;
      }
    }
    .div-27 {
      gap: 20px;
      display: flex;
    }
    @media (max-width: 991px) {
      .div-27 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0px;
      }
    }
    .column-7 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 37%;
      margin-left: 0px;
    }
    @media (max-width: 991px) {
      .column-7 {
        width: 100%;
      }
    }
    .div-28 {
      display: flex;
      margin-top: 5px;
      flex-direction: column;
    }
    @media (max-width: 991px) {
      .div-28 {
        margin-top: 40px;
      }
    }
    .div-29 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.54px;
      white-space: nowrap;
      font: 500 18px/121.5% Inter, sans-serif;
    }
    @media (max-width: 991px) {
      .div-29 {
        white-space: initial;
      }
    }
    .div-30 {
      color: var(--Main-Gray, #606060);
      letter-spacing: -0.42px;
      font: 400 14px/121.5% Inter, sans-serif;
    }
    .div-31 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.54px;
      margin-top: 13px;
      font: 400 18px/22px Inter, sans-serif;
    }
    .div-32 {
      color: var(--Main-Gray, #606060);
      letter-spacing: -0.42px;
      margin-top: 39px;
      font: 400 14px/17px Inter, sans-serif;
    }
    .div-33 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.54px;
      text-decoration-line: underline;
      margin-top: 153px;
      white-space: nowrap;
      font: 500 18px/121.5% Inter, sans-serif;
      a {
        color: rgb(0, 0, 0);
      }
    }
    @media (max-width: 991px) {
      .div-33 {
        margin-top: 40px;
        white-space: initial;
      }
    }
    .column-8 {
      display: flex;
      flex-direction: column;
      line-height: normal;
      width: 63%;
      margin-left: 20px;
    }
    @media (max-width: 991px) {
      .column-8 {
        width: 100%;
      }
    }
    .img-5 {
      aspect-ratio: 1.75;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
    }
    @media (max-width: 991px) {
      .img-5 {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .div-34 {
      align-self: stretch;
      display: flex;
      width: 100%;
      justify-content: space-between;
      gap: 20px;
      padding-bottom: 20px;
    }
    @media (max-width: 991px) {

    }
    .div-35 {
      color: var(--Secondary, #2429af);
      letter-spacing: -0.63px;
      width: 297px;
      font: 500 21px/120% DM Sans, sans-serif;
    }
    .div-36 {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      a {
        color: rgb(64, 0, 255);
        text-decoration: underline;
      }
    }
    .div-37 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.63px;
      font: 500 21px/120% DM Sans, sans-serif;
      text-decoration: none;
    }
    .div-38 {
      color: var(--Main-Black, #181717);
      letter-spacing: -0.63px;
      font: 500 21px/120% DM Sans, sans-serif;
    }
    .gif-container {
      display: flex;              /* Bruker fleksibel layout */
      justify-content: center;    /* Midtstiller innhold horisontalt */
      align-items: center;        /* Midtstiller innhold vertikalt */
      margin-top: 20px;          /* Legger til litt avstand over GIF-en */
      width: 100%;                /* Sørger for at containeren tar opp hele bredden */
      padding-top: 69px;
    }
    
    .gif-container img {
      max-width: 100%;           /* Forhindrer at bildet blir større enn containeren */
      height: auto;              /* Opprettholder høyde-bredde-forholdet */
      width: 200px;              /* Størrelse på større skjermer */
    }
    
    @media (max-width: 768px) {
      .gif-container img {
        width: 150px;            /* Justerer størrelse for nettbrett */
      }
    }
    
    @media (max-width: 480px) {
      .gif-container img {
        width: 100px;            /* Justerer størrelse for mobil */
      }
    }
    .decorative-image {
      aspect-ratio: 1.47;
      object-fit: contain;
      object-position: center;
      width: 100%;
      overflow: hidden;
      flex-grow: 1;
    }
  
    @media (max-width: 991px) {
      .decorative-image {
        max-width: 100%;
        margin-top: 40px;
      }
    }
    .draggable {
      position: absolute;
      cursor: grab;
      width: 50px;
      height: 50px;
      color: #fff;
      text-align: center;
      line-height: 100px;
      border-radius: 8px;
      user-select: none;
  }
  
  .draggable.dragging {
      cursor: grabbing;
  }

  
  